# markdown suport
recommonmark
# markdown table suport
sphinx-markdown-tables
#emoji
sphinxemoji

# theme default rtd

# crate-docs-theme
sphinx-rtd-theme
sphinx-autobuild
Pygments

myst-parser
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-jsmath
sphinxcontrib-htmlhelp
sphinxcontrib-serializinghtml
sphinxcontrib-qthelp
Jinja2
Pygments
docutils
snowballstemmer
babel
alabaster
imagesize
requests
setuptools
packaging
